.vert-board {
  overflow: scroll;
}

.task-card {
  border-radius: 0 !important;
  cursor: grab;
}

.vert-add-list-button {
  height: fit-content !important;
}

.drop-area {
  width: 100%;
  height: 100%;
  color: #dcdcdc;
  border: 1px dashed #dcdcdc;
  background-color: #6f787894;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.hide-drop {
  opacity: 0;
}

.tag-input {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.tag-input::placeholder {
  opacity: 0.3;
  color: #2e333d !important;
}

@media (prefers-color-scheme: light) {
  .task-card {
    background-color: #f8f7ff !important;
  }
}

@media (prefers-color-scheme: dark) {
  .task-card {
    background-color: #2e333d !important;
  }
}
