.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo-image {
  text-align: center;
}

.logo-image img {
  height: 60vh;
}

@media screen and (max-width: 768px) {
  .logo-image img {
    height: 40vh;
  }
}
