.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo-image {
  text-align: center;
  background-image: url("../assets/action-board-1.png");
  background-position: center;
  background-size: cover;
  height: 250px;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .logo-image {
    height: 100px;
  }
}
