@import "https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css";

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  background-color: #f0f8ff;
}

.hover-pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1023px) {
  .hide-on-mobile {
    display: none;
  }
}
